body {
	color: #555;
	font-size: 10pt;
	font-family: "Lucida Grande,Verdana, Bitstream Vera Sans, Arial,sans-serif";
	border: 0;
	margin: 0;
	padding: 0;
}

.plain .ezpress_header {
	font-size: 13pt;
}
